@font-face {
    font-family: Ubuntu;
    src: url('../fonts/Ubuntu/Ubuntu-Regular.ttf');
}

@font-face {
    font-family: Raleway;
    src: url('../fonts/Raleway/Raleway-Regular.ttf');
}

@font-face {
    font-family: LobsterTwo;
    src: url('../fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}

body {
    background-image: url('../img/banner_hd.jpg');
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-color: #1B1C1F;
    color: white;
    padding-top: 72px;
    
}

h1, h2, h3 {
    font-family: Raleway;
}

p, div {
    font-family: Ubuntu;
}

p a, p a:visited {
    color: white;
    text-decoration: underline;
}

p a:hover {
    color: #9df;
    text-decoration: none;
}

.navbar-fixed-top {
    background-color: rgba(0,0,0,0.4);
}

.navbar-collapse, .navbar-header, .navbar-fixed-top {
    border-color: transparent;
    border: none;
}

.navbar-brand:link, .navbar-brand:visited {
    color: white;
    font-family: LobsterTwo;
}

.navbar-toggle {
    color: white;
    border: none;
}

.nav .active a:link {
    background-color: rgba(0,0,0,0.2);
}

.nav li a, .nav li a:link, .nav li a:visited {
    color: white;
}

.panel, .well {
    background-color: #1B1C1F;
}

.my-pane {
    text-align: center;
}

.img-rounded {
    height: 100px;
    width: 100px;
}